*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #243a6f;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.container-md {
    max-width: 100rem;
    margin: 0 auto;
}
 
@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }

    .container-md {
        padding: 0 3rem;
    }
}

.header {
    position: relative;
    width: 100%;
    min-height: 80px;
    background-color: #fc6006;
    box-shadow: 0 5px 15px rgba(253, 253, 253, 0.781);
    overflow: hidden;
}

.nav {
    padding: 1.6rem 0;
}

.nav.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fc6006;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.747);
    z-index: 999;
}
.nav.fix-nav .nav-link{
    color: white;
}

.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburguer{
    color: #fff;
}
.nav.fix-nav .nav-link.icon-one{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #ffffff;
}
.nav.fix-nav .nav-link:hover{
    color: rgb(59, 160, 0);
}
.nav-list a{
    color: white;
}
.nav-list a:hover {
    color: rgb(59, 160, 0);
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    color: #fff;
    font-size: 2.5rem;
}

.top-nav {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}
.nav-link.icon-one{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.btn-abrir-popup{
  
    font-size: 3rem;
    color: rgb(236, 236, 236);
}

.hamburguer {
    color: #fff;
    display: none;
}
.cart-icon {
    display: none;
}

/* Slider show */
.container-slider{
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    /* position: relative; */
}
.slider {
    display: flex;
    width: 300%;
    height: 400px;
    margin-left: -100%;
}
.slider-section{
    width: 100%;
}
.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-btn{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    background: rgba(7, 7, 7, 0.116);
    transform: translateY(-50%);
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    border-radius: 30%;
    cursor: pointer;
   
}
.slider-btn:hover {
    background: rgba(0, 0, 0, 0.15);
}
.slider-btn-left{
    color: #ffffffb4;
    left: 10px;
}
.slider-btn-right{
    color: #ffffffb4;
    right: 10px;
}
@media only screen and (max-width: 768px) {
    
    .header {
        
        min-height: 90px;
        background-color: #fc6006;
        
        
    }
    .menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        max-width: 40rem;
        height: 100%;
        background-color: rgb(252, 252, 253);
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show {
        left: 0;
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #243a6f;
        padding: 1rem 1.6rem;
    } 

    .top-nav .logo{
        color: #fff;
    }

    .top-nav .close {
        color: white;
        font-size: 3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .cart-icon{
        display: block;
        font-size: 3rem;
    }

    .hamburguer {
        display: block;
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }
    .nav-list a{
        color: #243a6f;
    }
    .nav-link:link,
    .nav-link:visited{
        display: block;
        font-size: 1.7rem;
        padding: 1rem 0;
    }

    .nav.fix-nav .nav-link{
        color: #ececec;
    }

    .nav-link.icon {
        
        display: none;
    }

    body.show::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 4;
    }

    .nav.show {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

/* Advert */

main{
    margin-top: 0px;
    padding: 2em 3em;
    background-color: #fff;
}
.section{
    padding-top: 100px;
    margin-top: 0px;
    background-color: #fff;
    padding: 5rem 0 5rem 0;
   
}
/* Feactured */
 
.title{
    margin: 4rem 0 7rem 0;
    text-align: center;
}
.title h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
} 
.title h1::after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: #2ec700;
    width: 50%;
    height: 0.4rem;
    z-index: 1;
}

/* products */

.product-center {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
}

.product {
    height: 38rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(14, 8, 0, 0.342);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.product:hover {
    box-shadow: 0 0.5rem 1.5rem #000000;
}

.product-header{
    /* position: absolute; */
    background-color: #fffdfd;
    height: 19rem;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.product-header img{
    border-radius: 6px;
    height: 100%;
    width: 100%;
}

.product-footer{
     padding: 2rem 1.6rem 1.6rem 1.6rem; 
}

.product-footer h3{
    color: #192a52;
    font-size: 2.2rem;
}

.product-footer .price{
    color: #1fb801;
    font-size: 2rem;
}
.button-product{
    margin-top: 5px;
    color: white;
    background-color: rgb(98, 194, 2);
    border-radius: 5px;
    height: 30px;
    width: 80px;
   border: none;
    cursor: pointer;
}
.button-product:hover{
    transition: 0.6s;
    background-color: rgb(128, 255, 0);
}

/* details product */

.container-all{
    padding-left: 10%;
    padding-right: 0%;
    background: rgb(252, 252, 252);
    padding-top: 50px;
    width: 100%;
}
.container-main{
    width: 90%;
    height: 400px;
    background-color: rgb(236, 255, 226);
    box-shadow: 0 0.5rem 1.5rem rgba(14, 8, 0, 0.575);
}
.container-header{
    border-radius: 0px;
    height: 10em;
    width: 100%;
    background-color: rgb(236, 255, 226);
    
}
.container-header h1{
    padding-top: 6px;
    font-size: 30px;
    text-align: center;
    color: rgb(43, 43, 43);
    font-weight: 700;
}
.container-header h3,h5{
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    color: rgb(70, 70, 70);
}
.container-body{
    padding-top: 5px;
    height: 8em;
    width: 100%;
    background-color: rgb(236, 255, 226);
    
}
.container-body h3{
    padding-top: 20px;
}
.precioOne{
    font-size: 25px;
    text-align: center;
    background: rgb(236, 255, 226);
    color: rgb(16, 187, 16);
    font-weight: 900;
}
.form-value{
    text-align: center;
    padding-top: 10px;
}

.addCar{
    border-radius: 4px;
    height: 34px;
    width: 50px;
    font-size: 20px;
    background-color: rgb(41, 187, 5);
    border: none;
    color: white;
}
.buttonQuanty{
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    width: 50px;
    height: 34px;
    border: none;
    background: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    outline: none;
    opacity: 1;
}
.buttonConfirm{
    font-size: 20px;
    border-radius: 4px;
    border: none;
    height: 34px;
    width: 300px;
    background: #ff6600;
    color: white;
}


.container-footer{
    width: 100%;
}
.Mtd-pago{
    float: left;
    background: rgb(236, 255, 226);
    width: 50%;
}
.Mtd-envio{
    float: right;
    background: rgb(236, 255, 226);
    width: 50%;
}
.bx.bxs-package{
    font-size: 40px;
    color: rgb(66, 66, 66);
}
.bx.bxs-store{ 
    background-color: rgb(236, 255, 226);
    font-size: 40px;
    color: rgb(66, 66, 66);
}
.container-img{
    height: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 49%;
}
.container-img img{
    border-radius: 5px;
    height: 400px;
    width: 100%;
    
}
/* botón */
.container-description{
    border-radius: 20px;
    float: right;
    width: 50%;
    height: 100%;
    background: rgb(236, 255, 226);
}
/* about */
.about-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}
.about-container h1{
    color: rgb(23, 1, 150);
    margin-top: 20px;
}
.about-container img{
    margin-top: 20px;
   width: 50%;
}

.about-container p{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: left;
}
/* Carshop */
.cart-count b{
    position: relative;
    bottom: 3px;
    right: 20px;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(13, 104, 1);
    color: rgb(248, 248, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.button-car{
    margin-top: 2rem;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    padding-right: auto;
    padding-left: auto;
    width: 20%;
    background-color: rgb(184, 255, 126);
}
.button-back{
    font-size: 15px;
    border: none;
    border-radius: 1rem;
    color: black;
    background-color: rgb(184, 255, 126);
    padding: 1em;
    margin-top: 2px;
    opacity: 1;
}
.button{
    font-size: 15px;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #219105;
    padding: 1%;
    margin-top: 2px;
    padding-right: 0px;
}
.alert{
    border-radius: 1rem;
    margin-top: 3rem;
    text-align: center;
    padding: 10px;
    background-color: #ffd723;
    color: rgb(0, 0, 0);
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.table-top{
    background-color: rgb(24, 24, 32);
   
}

.top{
    color: rgb(255, 255, 255);
}
td, th{
    color: rgb(0, 0, 0);
    padding: 7px 10px;
    border: 1px solid rgba(128, 128, 128, 0.116);
}
tr:hover{
    background-color: rgba(2, 2, 2, 0.158);
}

@media ( max-width: 30em ){
    
    .about-container img{
        margin-top: 20px;
        width: 100%;
    }
    .button-back{
    width: 100%;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #014f8f;
    padding: 1em;
    margin-top: 2px;
    }

    .button-car{
        width: 100%;
        background: black;
    }
    .form-value{
        width: 100%;
        align-items: center;
        background: white;
    }
    .form-value h3{
        width: 100%;
        text-align: left;
    }
    .button{
        width: 100%;
        background: rgb(0, 0, 0);
       
    }

    table{
        width: 100%;
        font-size: .9em;
    }
    table tr{
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(204, 204, 204);
        padding: 1em;
        margin-bottom: 1em;
    }
    table td[data-titulo]{
        display: flex;
        
    }
    table td,th{
        border: none;
    }
    table td[data-titulo]::before{
        content: attr(data-titulo);
        width: 80%;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    table thead{
        display: none;
    }
}



/* Footer */

.footer {
    background-color: #222;
    padding: 4rem 1rem;
    line-height: 3rem;
}

.footer-center {
    margin-right: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
}

.footer-center a:link,
.footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: .6s;
}

.footer-center a:hover {
    color: #4373f7;
}

.footer-center div{
    color: #f1f1f1;
    font-size: 1.4rem;
}

.footer-center h3{
    color: rgb(185, 185, 185);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-footer{
    width: 100%;
    background-color: black;
    
}
.footer-footer h4{
    text-align: center;
    padding: 11px;
    color: white;
}
    
@media only screen and (max-width: 768px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}

/* LOGIN */

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 999;
}
.popup{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-align: center;
    width: 340px;
    padding: 20px 20px 20px 20px;
    position: relative;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.popup-header h3{
    font-size: 35px;
    font-weight: 600px;
    opacity: 0;
}
/* .popup {
	background: #fffffff5;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 400px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
} */
.overlay.active {
	visibility: visible;
}
.popup .form-login{
    margin: 40px 0;
}
.form-login .field{
    width: 100%;
    margin-bottom: 20px;
}
.form-login .field{
    width: 100%;
    margin-bottom: 20px; 
}
.form-login .field.shake{
    animation: shake 0.3s ease-in-out;
}
@keyframes shake{
    0%, 100%{
        margin-left: 0;
    }
    20%, 80%{
        margin-left: -12px;
    }
    40%, 60%{
        margin-left: 12px;
    }
}
.form-login .field .input-area{
    position: relative;
}
.form-login input{
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    opacity: 0;
} 
.form-login .field.error input{
    border-color: #dc3545;
}
.form-login input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
} 
.form-login .field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form-login .field .icon{
    left: 15px;
    color: #bfbfbf;
}
.form-login .field .error-icon{
    right: 15px;
    color: #dc3445;
}
.form-login .field .error-text{
    margin-top: 5px;
    color: #dc3545;
    text-align: left;
}
.form-login .field .error{
    display: none;
}
.form-login .field.error .error{
    display: block;
}
.form-login .pass-link{
    text-align: left;
    margin-top: -10px;
}
.popup a{
    color: #52b6f0;
    text-decoration: none;
}
.popup a:hover{
    text-decoration: underline;
}
.form-login input[type="submit"]{
    margin-top: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #01a80f;
    transition: background 0.2s ease;
} 
.form-login input[type="submit"]:hover{
    background: #21c400;
} 
.popup .btn-cerrar-popup {
    width: 10px;
    align-items: right;
	font-size: 22px;
	line-height: 0px;
	display: block;
	align-items: center;
	transition: .3s ease all;
	color: #c2c2c2;
}

.popup .btn-cerrar-popup:hover {
	color: rgb(255, 13, 5);
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active form input { animation: entradaInputs 0.8s linear .5s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}